@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Estudante @ViewData["Student"].</p>

<address>
    <strong>More Information: </strong> <a href="fabior.067"> Meu instagram:</a>
</address>